:root { /* : pseudo selectores, no hacen referencia como tal a una etiqueta html */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gris-claro: #dfe9f3;
}

/* Globales */
/*** Hack para poder utilizar la medida rem de forma mucho mas facil ***/
html {
    font-size: 62.5%;
/* sippet para deshacernos del boxmodel */
    box-sizing: border-box;
/****************************************/
    scroll-snap-type: y mandatory;
}

/* Scroll snap */
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* snippet para deshacernos del boxmodel */
*, *:before, *:after {
    box-sizing: inherit;
  }
/****************************************/
  
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
}
/***********************************************************************/

.contenedor { /* . selecciona una clase puesta a una etiqueta html, las clases son reutilizables, las id deben ser únicos */
    max-width: 120rem;
    /* width: 120rem; se cambió para evitar el scroll horizontal al reducir la resolución del navegador */
 /*   margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;

    margin: 0 auto 0 auto; /* top right bottom left*/

    margin: 0 auto; /* si solo hay dos valores: arriba/abajo izquierda/derecha */
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto; /* auto para que se reinicie el tamaño */
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    border-radius: 1rem;
}

/* Tipografía */
/* sistema para la tipografía */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}
/****************************/

/* Títulos */
.titulo span { /* aplica las reglas a una etiqueta que se encuentra dentro de otra */
    /*font-size: 20px;/* pixeles de la pantalla, ya no es recomendable usar esta medida en px*/
    font-size: 2rem;
}

/* Utilidades */
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* Navegación principal */
.nav-background{
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex; /* block: los elementos irán uno de bajo del otro; inline: los elementos irán uno al lado del otro; flex: hbilita flexbox y su propiedades*/
    flex-direction: column;
    /* align-items: center; */
}
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a {
/* yo creo que esto debería ir en el media query */
    display: block;
    text-align: center;
/************************************************/
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700; /* 700 = bold*/
    padding: 1rem; /* si solo hay un valor: arriba/abajo/izquierda/derecha */
}

.navegacion-principal a:hover { /* :hover pseudoclase para insertar efectos */
    background-color: var(--primario);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../images/hero.jpg); /* añadir una imágen como fondo*/
    background-repeat: no-repeat; /* evita que se repita laimagen en el espacio que quede vacío*/
    background-size: cover; /* ajusta la imagen para que abarque todo el espacio y no quede espacio vacío*/
    height: 450px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.8); /* sintaxis anterior */
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .contenido-hero h2,
 .contenido-hero p {
    color: var(--blanco);
 }

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
 }

/* Servicios */
@media (min-width: 780px) {
    .servicios {
        display: grid;
        /* grid-template-columns: 33.3% 33.3% 33.3%; *//* dividirlo en 3 fracciones iguales*/
        grid-template-columns: 1fr 1fr 1fr; /* forma corta de dividir las fracciones */
        /* grid-template-columns: repeat(3, 1fr);*//* otra forma de repetir la fracciones, equivale a 1f 1fr 1fr*/
        /* grid: 200px 800px / 300px 300px; *//* forma corta de grid-template, (filas / columnas)*/
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: 400; /* 400 = Normal */
}

.servicio p {
    line-height: 2; /* interlineado */
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Contacto */
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /* min utilizar el valor mas pequeño de entre los dos valores que le asignes*/
    margin: 0 auto; /* para centrar horizontalmente un elemento cuyo padre NO es un display flex */
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
        margin-bottom: 2rem; /* esto lo agregué para que se viera bien la separación del campo de texto con el botón enviar */
    }

    .campo:nth-child(3),
    .campo:nth-child(4) { /* si hay varios que se llaman igual, se pueden seleccionar específicamente con un número */
        grid-column: 1 / 3; /* que vaya de la columna 1 a la 3 */
        /* grid-row: 3 / 4; *//* que vaya de la fila 3 a la 4 */
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block; /* cada label tomará todo el espacio disponible */
}

.campo textarea {
    height: 20rem;
}

/* .campo input[type="text"] *//* { [type=""] selector específico de un elemento */
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar .boton {
    width: 100%;
}

.footer {
    text-align: center;
}

/* Media queries estándard
480px para smartphones
768px para tablets
1140px para laptops o PCs
1400px para pantallas mas grandes
*/