/*** Hack para poder utilizar la medida rem de forma mucho mas facil ***/
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;/* 1 rem = 10px (con el hack) */
}

.titulo {
    text-align: center;/* alineación */
    font-size: 3.8rem;
}

.titulo span {
    /* font-size: 20px;/* pixeles de la pantalla, ya no es recomendable usar esta medida en px */
    font-size: 2rem;/* rem tamaño relativo al documento*/
    color: blue;
}

.titulo span {
    color: red;
}

span {
    color: green;
}

/* Tipos de selectores */
elemento {}/* selector de elementos; por ejemplo h1, p, span, etc. */
.clase {}/* selector de clases, .nombre-de-la-clase */
#id {}/* selector de ids, #nombre-del-id */
[atributo="imagen.jpg"] {}/* selector de atributos */
.clase1 .clase2 {}/* combinación de descendentes: selecciona los elementos hijos cuyo padre sea una clase o id en específico */
.clase > elemento{}/* todos los hijos: aplica la regla a todos los elementos hijos de la clase o id en específico */
/*
- las clases son reutilizables, recomendado usarlas para aplicar estilos
- los id se recomiendan para código JavaScript y usarlos solo una vez por id
- los estilos se aplican prioritariamente mientras más específico sea el selector y sin importar en cuál línea se haya declarado
*/