.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        height: 4.9rem; // para que se visualice el logo svg en Firefox
    }
}

.navegacion {
    // display: none; // no se pueden animar los display, por lo tanto se usará visibility
    visibility: hidden;// en vez de display
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear;

    @include tablet {
        display: flex;
        align-items: center;
        
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block; //tomarán todo el ancho disponible y se colocarán verticalmente
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

/* Menú burguer */
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
/* Evitar que el menú se muestre de forma vertical cuando la pantalla se hace mas grande que una tablet y tiene la clase agregada ".mostrar" */
    // display: flex;// no se pueden animar los display, por lo tanto se usará visibility
    // flex-direction: column;

    // @include tablet {
    //     flex-direction: row;
    // }
/******************************************************************************************************************************************/
    visibility: visible;// en vez de display
    opacity: 1;
}