html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

/** CODIGO AQUI **/

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

/* Mostly fluid el contenido solo fluye sobre el espacio que hay disponible; el tamaño de los márgenes varía */
.contenedor {
    max-width: 120rem;/* tope máximo */
    /* width: 1200px; *//* no se recomienda poner un width fijo con px o rem, debe ser en porcentajes */
    width: 95%;
    margin: 0 auto;
}

img {
    /*width: 100%;*//* hace a las imágenes responsivas */
    width: 100%;/* las imágenes son respondivas pero si son muy pequeñas no las forza a crecer y tomar el 100% */
}
