html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {
    .dos-columnas {
        display: flex;/* activa flexbox; con solo activarse, ya cambia el diseño en comparación a css grid; el control de cuántas columnas tendrá está en el html */
        /* gap: 2rem; *//* forma actual de añadir separación entre elementos de flexbox*/

/***************************************************************************************************************/
/* forma antigua de añadir una separación entre elementos de flexbox, ahora se usa gap */
        justify-content: space-between;/* justify-content permite alinear elementos de izq a der */
    }

.entrada-blog {
    flex-basis: calc(50% - 1rem);
}
/**************************************************************************************************************/
}