.alerta {
    padding: 1.5rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: crimson;
    }

    &.exito {
        background-color: #71B100;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    background-color: #FFFFFF;

    thead {
        background-color: #71B100;

        th {
            color: #FFFFFF;
            padding: 2rem;
        }
    }

    .imagen-tabla {
        width: 10rem;
    }
}